.innerBox{
    display: inline-block;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1.5rem;
    position: relative;
}
textarea{
    background-color: #e7f9ed;
    border-radius: 20%;
    font-size: 1.5rem;
    padding: 2rem;
    border: none;
    color: #babaa6;
}
.innerBox .inputImg1{
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {scale: 1;transform: rotate(0deg);}
    30% {scale: 0.5;transform: rotate(-25deg);}
    80% {scale: 2;transform: rotate(25deg);}
    100% {scale: 1;transform: rotate(0deg);}
  }