.top{
    text-align: center;
}
.top h1{
    transform: rotate(-6deg);
    color: #fffaec;
    display: inline-block;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: #fa9f82;
    
}